body {
    background-color: #e4b019;
    margin: 0;
    height: 10000px;
    width: 100vw;
    overflow-x: hidden;
    text-align: center;
    font-family: 'uni_sansheavy_caps';
    color: white;

    /* IE and Edge */
    -ms-overflow-style: none;  
    /* Firefox */
    scrollbar-width: none;  
}

body::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

.portrait-wrapper {
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;
}

.portrait-container {
    height: 100vh;
}

.portrait-container img {
    width: auto;
    height: 70%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);

    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
}

.items-wrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.items-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.table-tennis-wrapper, .keyboard-mouse-wrapper {
    z-index: 2;
    display: none;
    margin: auto 0;
    border: 1px solid red;
}

.table-tennis-wrapper img, .keyboard-mouse-wrapper img {
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
}

#racket {
    position: absolute;
    left: 0;
    transform: translate(10vw, 55vh);
}

#ball {
    position: absolute;
    left: 0;
    transform: translate(12vw, 70vh);
}

#keyboard {
    position: absolute;
    right: 0;
    transform: translate(15vw, 15vh);
    width: 500px;
    height: auto;
}

#mouse {
    position: absolute;
    right: 0;
    transform: translate(-2vw, 55vh);
    width: 100px;
    height: auto;
}

.text-outline svg {
    margin-bottom: 10px;
}

#joshua {
    width: 85vw;
}
#rifareal {
    width: 90vw;
}

.my-name-wrapper {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;

    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
}

.padded {
    padding: 0 7%;
}

.scrollable {
    position: fixed;
    left: 50%;
    bottom: 30vh;
    transform: translate(-50%, 100vh);
    z-index: 100;
    width: 100vw;
    height: 60vh;

    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
}

.personal-information-text {
    position: relative;
    width: 100%;
    height: auto;
    width: 100vw;
}

.personal-information-text p {
    color: white;
    font-size: 10vw;
    line-height: 10vw;
    text-transform: uppercase;

    /* font-family: 'Roboto', sans-serif; */
    font-family: 'uni_sansheavy_caps', 'Roboto';
    font-weight: 900;
}

.carousel-container {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: #222222;
    z-index: 99;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
}

.carousel-slides {
    border: 1px solid red;
}

.carousel-label {
    width: 80%;
}

.toplinks-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.bottomlinks-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
}

.onscreen-links { position: relative; }

.onscreen-links h2 {
    font-size: 2.5vh;
    line-height: 0.8vh;
}

.onscreen-links {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.toplinks, .bottomlinks {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.bottomlinks a {
    color:  white;
    text-decoration: none;
}

.left { text-align: left; }
.right { text-align: right; }

.left, .right {
    padding: 2%;
}

.left #hello {
    font-size: 4vh;
}

/* DIGITAL TOOLS */
/* ----------------------------------------- */
.digital-tools {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: #222222;
    z-index: 99;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
}

.digital-tools-text {
    position: absolute;
    left: 50%;
    top: 10vh;
    transform: translate(-50%, 0);
    z-index: 99;
}
.digital-tools-text svg {
    width: 90vw;
    height: auto;
}

.digital-tools-background {
    width: 100vw;
    height: 100vh;
    text-align: center;
    object-fit: cover;
    object-position: 50% 50%;
}
.digital-tools-background img {
    height: 100vh;
    width: auto;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.digital-tools-monitor {
    position: absolute;
    left: 50%;
    top: 37vh;
    transform: translate(-50%, 0);
    width: 120vw;
    height: auto;
    z-index: 999;
    overflow: hidden;
}
.digital-tools-monitor img {
    width: 100%;
    height: auto;
}

.swiper-absolute {
    position: absolute;
}
.swiper-container {
    position: absolute;
    height: 20vh;
}

.swiper-slide {
    height: 100%;
    color: white;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.icon {
    width: 70%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    position: absolute;
    padding: 0;
    margin: 0;
}
.bl {
    background-image: url("./images/icons/blender.png");
}
.ps {
    background-image: url("./images/icons/photoshop.png");
}
.ai {
    background-image: url("./images/icons/illustrator.png");
}
.id {
    background-image: url("./images/icons/indesign.png");
}
.au {
    background-image: url("./images/icons/audition.png");
}
.pr {
    background-image: url("./images/icons/premiere-pro.png");
}
.ae {
    background-image: url("./images/icons/after-effects.png");
}

.swiper-slide-active .icon {
    height: 110%;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
}

/* ---------------------------------------------------- */
/* EXPERIENCE */

.experience {
    position: relative;
    display: block;
    z-index: 1;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: #222222;
    z-index: 99;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
}

.experience p {
    position: relative;
    color: white;
    font-size: 7vw;
    line-height: 8.5vw;
    text-transform: uppercase;
    width: 70%;
    margin-left: 10%;
    text-align: left;

    /* font-family: 'Roboto', sans-serif; */
    font-family: 'uni_sansheavy_caps', 'Roboto';
    font-weight: 900;
}


/* ---------------------------------------------------- */
/* WORKS */

.works {
    width: 100vw;
    height: auto;
    padding: 4em 0;
    background-color: #596B78;

    display: grid;
    gap: 40px;
    grid-template-rows: 10% 90%;
}

.works-label {
    font-size: 4em;
    color: white;
    margin: 0;
    background-color: #596B78;
}

.works-grid {
    padding-bottom: 4em;
    
    width: 100%;
    height: 100%;

    display: grid;
    justify-content: center;
    /* align-content: center; */
    gap: 0 3%;
    grid-template-columns: 20% 20% 20% 20%;
    
}

.work-card {
    object-fit: cover;
    overflow: hidden;
    height: 40vh;
}

.work-card img {
    width: auto;
    height: 100%;
    transition-duration: 0.6s;
}

.work-card img:hover {
    transform: scale(1.2);
    transition-duration: 0.6s;
}


/* ---------------------------------------------------- */
/* ANSWER */

.answer {
    position: relative;
    display: block;
    z-index: 1;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    z-index: 99;
    background-color: #e4b019;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;

}

.answer-text {
    margin-left: 10%;

    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */

}

.answer-text-content {
    position: relative;
    color: white;
    font-size: 4.2em;   /* For Wide Screens 1920 */
    text-transform: uppercase;
    text-align: left;
    width: 90%;
    padding: 0;

    /* font-family: 'Roboto', sans-serif; */
    font-family: 'uni_sansheavy_caps', 'Roboto';
    font-weight: 900;
}

.me-hats {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
}
.me-hats img {
    height: auto;
    width: 100%;
    bottom: 0;
}

.footer {
    position: relative;
    display: block;
    z-index: 1;
    width: 100vw;
    height: 100%;
    /* margin-top: 50vh; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    z-index: 99;
    background-color: #222222;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
}

/* For wider screens */
@media only screen and (min-width: 1366px) {
    body {
        height: 18600px;
    }

    .text-outline svg {
        width: 45vw;
    }
    .my-name-wrapper {
        bottom: 55vh;
    }

    #joshua {
        width: 40vw;
    }
    #rifareal {
        width: 40vw;
    }

    .personal-information {
        bottom: 0vh;
        transform: translate(-50%, 165vh);
    }

    .onscreen-links h2 {
        font-size: 4vh;
        line-height: 0.8vh;
    }

    .left #hello {
        font-size: 5vh;
    }

    .table-tennis-wrapper, .keyboard-mouse-wrapper {
        display: block;
    }

    .digital-tools-text svg {
        width: 45vw;
        height: auto;
    }

    .digital-tools-background img {
        height: auto;
        width: 100vw;
    }

    .digital-tools-monitor {
        top: 45vh;
        width: 30vw;
    }

    .personal-information-text p {
        font-size: 7vw;
        line-height: 7vw;
    }

    .experience p {
        font-size: 5vw;
        line-height: 6vw;
    }

    .answer-text-content {
        font-size: 3em;
    }

    .me-hats {
        height: 100%;
        width: 100%;
    }
    .me-hats img {
        height: 100%;
        width: auto;
    }

    .answer-flexbox {
        display: flex;
    }
    
    .footer {
        margin-top: 0;
    }
    
    .footer h1 {
        font-size: 6vw;
    }
}

@media only screen and (min-width: 1600px) {
    .answer-text-content {
        font-size: 3.5em;
    }
}

@media only screen and (min-width: 1920px) {
    .answer-text-content {
        font-size: 4em;
    }
}
